#-------------------------------------------------------------------------------
#
# SnpEff configuration file
#
#Pablo Cingolani
#-------------------------------------------------------------------------------

#---
# Databases are stored here
#---
data.dir = db/snpEff/data/

#---
# Database repository: A URL to the server where you can download databases (command: 'snpEff download dbName')
#---
database.repository = http://downloads.sourceforge.net/project/snpeff/databases

#---
# Latest version numbers. Check here if there is an update.
#---
versions.url = http://snpeff.sourceforge.net/versions.txt

#-------------------------------------------------------------------------------
# Third party databases
#-------------------------------------------------------------------------------

# Databases for human GRCh37 (hg19)
database.clinvar.GRCh37                 = db/snpEff/GRCh37/clinvar/clinvar-latest.vcf.gz
database.repository.clinvar.GRCh37      = ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/vcf_GRCh37/clinvar-latest.vcf.gz
database.dbsnp.GRCh37                   = db/snpEff/RCh37/DBSNP/
database.repository.dbsnp.GRCh37        = ftp://ftp.ncbi.nih.gov/snp/organisms/human_9606_b141_GRCh37p13/VCF/
database.gwascatalog.GRCh37             = db/snpEff/GRCh37/GWAS_catalog/gwascatalog.txt
base.repository.gwascatalog.GRCh37  = http://www.genome.gov/admin/gwascatalog.txt
database.dbnsfp.GRCh37                  = db/snpEff/GRCh37/dbNSFP/dbNSFP3.5a_hg19_sorted.txt.gz

#-------------------------------------------------------------------------------
# Loss of function (LOF)
#-------------------------------------------------------------------------------

# It is assumed that even with a protein coding change at the
# last 5% of the protein, the protein could still be functional.
lof.ignoreProteinCodingAfter  : 0.95

#  It is assumed that even with a protein coding change at the
#  first 5% of the protein:
#  "..suggesting some disrupted transcripts are
#  rescued by transcriptional reinitiation at an
#  alternative start codon."
lof.ignoreProteinCodingBefore : 0.05

# Larger deletions removing either the first exon or more than
# 50% of the protein-coding sequence of the affected transcript
lof.deleteProteinCodingBases : 0.50

codon.Standard: TTT/F, TTC/F, TTA/L, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G
codon.Vertebrate_Mitochondrial: TTT/F, TTC/F, TTA/L, TTG/L, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/W, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I+, ATC/I+, ATA/M+, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/*, AGG/*, GTT/V, GTC/V, GTA/V, GTG/V+, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G

# Homo sapiens (hg19) (UCSC)
hg19.genome : Homo_sapiens (USCS)
hg19.reference : http://hgdownload.cse.ucsc.edu \ # Gene information from 'table' download,
http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/chromFa.tar.gz \ # Genome sequence,
ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/mRNA_Prot/human.protein.faa.gz \ # Protein,
ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/mRNA_Prot/human.rna.fna.gz \ # CDS,
http://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/refLink.txt.gz # Reflink,
http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/refMrna.fa.gz # mRna
hg19.M.codonTable : Vertebrate_Mitochondrial
hg19.coordinates : GRCh37

# Homo sapiens (hg19) (UCSC) using knownGenes instead of RefSeq
hg19kg.genome : Homo_sapiens (UCSC KnownGenes)
hg19kg.reference :http://hgdownload.cse.ucsc.edu \ # Gene information from 'table/GTF' download,
http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/chromFa.tar.gz \ # Genome sequence
hg19kg.coordinates : GRCh37

# Homo sapiens (hg38) (UCSC)
hg38.genome : Homo_sapiens (USCS)
hg38.reference : http://hgdownload.cse.ucsc.edu \ # Gene information from 'table' download,
http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/chromFa.tar.gz \ # Genome sequence,
http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/refMrna.fa.gz # mRna
hg38.M.codonTable : Vertebrate_Mitochondrial
hg38.coordinates : GRCh38

# Homo sapiens (hg38) (UCSC) using knownGenes instead of RefSeq
hg38kg.genome : Homo_sapiens (UCSC KnownGenes)
hg38kg.reference :http://hgdownload.cse.ucsc.edu \ # Gene information from 'table/GTF' download,
http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/chromFa.tar.gz \ # Genome sequence,
http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/refMrna.fa.gz # mRna
hg38kg.coordinates : GRCh38

# GRCh38 release from NCBI's RefSeq
GRCh38.p7.RefSeq.genome : Human genome GRCh38 using RefSeq transcripts
GRCh38.p7.RefSeq.reference : ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/

#---
# ENSEMBL release 75
#---
GRCh37.75.genome : Homo_sapiens
GRCh37.75.reference : ftp://ftp.ensembl.org/pub/release-75/gtf/
